.dialog-container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    
}


.dialog-form{
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40%;
    height: 25%;
    border-radius: 20px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dialog-form .name, .rating{
    font-size: 1.5em;
    font-weight: 600;
    color: black;
    width: 80%;
    place-self: center;
    border-radius: 10px;
}

.dialog-form button {
    font-size: 1.5em;
    width: 80%;
    place-self: center;
    background-color: darkgray;
}